* {
    margin: 0;
    padding: 0;
    font-family:
    PingFangSC-Regular, sans-serif;
}

body {
    display: block;
    background-image: url("../misc/background.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%; 
    background-attachment: fixed;
    height: 100%;
    min-width: 980px;
}

html {
    height: 100%;
}

a {
    color: #497ccd;
    text-decoration:none;
    transition: text-decoration 200ms;
}

a:visited {
    color: #497ccd;
}

a:hover {
    text-decoration: underline;
}

i {
    text-indent: 0px;
}

.WindowArea {
    position: relative;
    box-sizing: border-box;
    background-color: rgba(188, 185, 185, 0.7);
    display: block;
    height: calc(100% - 25px);
    min-height: 700px;
}

.WindowHead {
    display: flex;
    width: auto;
    height: 0px;
}

.WindowHeadMain {
    border: 1px solid black;
    border-radius: 8.5px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: 2px;
    padding: 1px 5px;
    display: flex;
    height: 15px;
}

.WindowTitle {
    align-items: center;
    padding-left: 2px;
    display: flex;
    font-size: 12px;
    margin-right: 3px;
}

.WindowIcon img {
    align-items: center;
    display: flex;
    width: 15px;
    height: 15px;
}

.WindowIcon {
    align-items: center;
}

.WindowBody {
    height: 100%;
}

*::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.196);
    width: 5px;
    height: 8px;
}


*::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #c7c4c4;
}

*::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.196);
    width: 5px;
}

.Red {
    background-color: red;
}

.Yellow {
    background-color: yellow;
}

.Blue {
    background-color: lightblue;
}

.Green {
    background-color: green;
}

.Purple {
    background-color: purple;
    color: white;
}
.Glass {
    background-color: rgba(255, 255, 255, 0.375);
}

.Black {
    background-color: black;
    color: white;
}

.Pink {
    background-color: lightpink;
}

.WhiteBorder {
    border: 1px solid white;
}

.WhiteText {
    color: white;
}

.RedText {
    color: red;
}
hr {
    margin-top: 2px;
    margin-bottom: 2px;
}
