.HMAboutMainFrame {
    width: calc(100% - 320px);
    height: calc(100% - 40px);
    padding: 20px;
}

#HMAboutHeadSign {
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px 100px;
}

#HMAMainIcon {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

#HMAWholeSign {
    color: white;
    margin-left: 25px;
}

#HWTAName {
    font-size: 50px;
    line-height: 45px;
}

#HWTAStudio {
    font-size: 16px;
}

#HWTAVersion {
    font-size: 14px;
}

#HWTAAttention {
    font-size: 12px;
}