#QuicklyConfig {
    width: 420px;
    height: 300px;
}

#QuicklyConfigBody {
    display: block;
    
}

.QuicklyConfigSonItem {
    font-size: 10px;
    display: inline-block;

}

#QuicklyConfigAboutCPU {
    margin-left: 10px;
    border-radius: 5px;
    border:1px solid black;
}


#QuicklyCfgTitle {
    display: flex;
    margin-left: 5px;
}

.QuicklyCfgItemTitle {
    margin-left: 5px;
    display: inline-block;
}
#QuicklyConfigCPUType select {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid blue;
    height: 17px;
    margin-right: 5px;
}

#QuicklyConfigCPUType{
    display: block;
}

#QuicklyConfigCPUType div {
    display: block;
}

#QuicklyConfigAddLine {
    border-radius: 0px;
    margin-bottom: 2px;
    border-bottom: 1px solid black;
}

#QuicklyConfigCPUType input {
    display: inline-block;
    margin-left: 5px;
}

#QuicklyCfgCpuHelp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    background-color: black;
    margin-top: auto;
    margin-bottom: auto;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    border-radius: 50%;
}

#QuicklyCfgCpuHelp a {
    text-decoration: none;
    color: white;
}

